.headerContainer {
  margin: 30px 50px;
}

.header {
  display: inline-block;
}

.averageGrade {
  position: absolute;
  right: 0;
  margin: 15px 50px 15px 0;
}

.gradeTableContainer {
  width: calc(70% - 50px);
  position: absolute;
  left: 50px;
}

.gradeTableHeader {
  font-size: 1.2rem;
  font-weight: 500;
}

.sgtColumn {
  border: 1px solid black;
  background-color: lightgray;
  height: 50px;
  line-height: 50px;
  padding: 0 5px;
}

.deleteButton {
  border-style: outset;
  border-width: 2px;
  padding: 1px 6px;
  margin-bottom: 5px;
}

.gradeFormContainer {
  width: calc(30% - 50px);
  position: absolute;
  right: 50px;
  padding-left: 20px;
}

.gradeFormIcon {
  width: 10%;
}

.gradeFormInput {
  width: 90%;
  margin-bottom: 10px;
  border: 1px solid black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.addButton {
  margin: 0 10%;
}